@{
    ViewData["Title"] = "Home Page";
}
@* @inject SignInManager<IdentityRole> *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* @if (User.IsInRole("Admin"))
    {
        <h1 class="display-4" >Welcome Admin</h1>
    }
    else if (User.IsInRole("Users"))
    {
        <h1 class="display-4">Welcome User</h1>
    }
    else
    {
        <p>Your are not Logged In</p>

        *@
    @{
        if (User.Identity.IsAuthenticated)
        {
        if (User.IsInRole("Admin"))
        {
                <h1 class="display-4">Welcome Admin</h1>
                <a href="@Url.Action("Index", "Admin")" class="btn btn-success mt-3">Assign Roles to Users</a>

        }
        else 
        {
                <h1 class="display-4">Welcome User</h1>
        }
        }
        else
        {
            <p>Your are not Logged In</p>
        }

    }

</div>
